.container.card.shadow.p-3.mb-5.bg-secondary.rounded
  .d-flex.justify-content-between.align-items-center
    %h1 My Stocks
    = link_to "Back", stocks_market_path, class: "btn btn-danger"
  %table.table.table-light
    %thead
      %tr
        %th{:scope => "col"} Stock Name
        %th{:scope => "col"} Price Per Share
        %th{:scope => "col"} Number of Shares
        %th{:colspan => "2", :scope => "col"} Actions 
    %tbody 
      - @user_stocks.each do |user_stock|
        %tr 
          %td= user_stock.name
          %td= user_stock.unit_price
          %td= user_stock.shares
          %td= link_to "Edit", edit_stock_path(user_stock), class: "btn btn-orange"
          %td= link_to "Delete", user_stock, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' }