.container.card.shadow.p-3.mb-5.bg-secondary.rounded
  .d-flex.justify-content-evenly.align-items-center
    %div
      %h1 All Stocks
    .d-flex.justify-content-evenly.align-items-center
      - if current_user.user_type == 'buyer'
        = link_to "View Your Orders", orders_all_path, class: "btn btn-orange"
      - if current_user.user_type == "broker"
        = link_to "Add New Stock", new_stock_path, class: "btn btn-orange"
        = link_to "View Your Stocks", stocks_path, class: "btn btn-orange"
  .d-flex.justify-content-evenly.flex-wrap
    - @stocks.each do |stock|
      .card.shadow.p-3.mb-5.bg-light.rounded
        .card-body.text-dark
          %h5.card-title= stock.name
          %p.card-text ₱#{stock.unit_price} per share
          %p.card-text #{number_with_delimiter(stock.shares, :delimiter => ',')} stocks available
          .container.d-flex.justify-content-evenly
            - if current_user.user_type == 'buyer'
              = link_to "Buy", new_stock_order_path(stock),class: "btn btn-orange"
            - elsif current_user.user_type == "broker"
              = link_to "Edit", edit_stock_path(stock), class: "btn btn-orange"
              = link_to "Delete", stock, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' }