.container.card.shadow.p-3.mb-5.bg-secondary.rounded.market-container
  .d-flex.justify-content-between.align-items-center.market-header.container
    %div
      %h1 My Orders
    .d-flex.justify-content-evenly.align-items-center
      = link_to "Back", stocks_market_path, class: "btn btn-danger"
  %table.table.table-light.center
    %thead
      %tr
        %th{:scope => "col"} Stock Name
        %th{:scope => "col"} Price Per Share
        %th{:scope => "col"} Shares Owned
        %th{:scope => "col"} Actions 
    %tbody 
      - @user_orders.each do |user_order|
        %tr 
          %td= user_order.name
          %td= user_order.unit_price
          %td= user_order.shares
          %td= link_to "Sell", edit_stock_order_path(user_order.stock, user_order), class: "btn btn-danger"