.d-flex.justify-content-center.form-outer-container
  .card.flex-column.shadow.p-3.mb-5.bg-secondary.rounded.form-card
    .form-container
      .form-title
        %h2 Log In
      .text-dark
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-floating.mb-4
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "user_email", placeholder: "Email"
            %label(for="floatingInput") Email
          .form-floating.mb-4
            = f.password_field :password, autocomplete: "current-password", class: "form-control", id: "user_password", placeholder: "Password"
            %label(for="floatingInput") Password
          .actions.d-flex.justify-content-center
            = f.submit "Log in", class: "btn btn-orange btn-margin btn-wide"
        = render "devise/shared/links"